body {
    margin:auto;
}
/*css dell'header*/
.container {
    width: 1000px;
    margin: auto;
}

.sub-container{
    height: 50px;
}
.pattern {
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 149, 255);
    background-size: 200px;
}

.logo-boolean {
    width: 200px;
    text-align: right;
    margin-top: 20px;
}

/*css del main*/

h1 {
    font-size: 35px;
}

.intestazione{
    color: grey;
    font-weight: bold;
}

.booleaner{
    color: rgb(0, 187, 255);
}

.data1{
    font-size: 15px;
/*immagini*/
}
.tim-berners > img{
    margin-top: 10px;
    height: 250px;
}

.references{
    font-size: 10px;
}
/*paragrafo*/
.evidenziato{
    background-color: yellow;
}
/*tabella*/
ul{
    padding: 0px;
}



/*immagini del footer*/
.second-images{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
}
.third-images{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 200px;
}