body {
    margin:auto;
}
.container {
    width: 1000px;
    margin: auto;
}

.sub-container{
    height: 50px;
}
.pattern {
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 149, 255);
    background-size: 200px;
}

.logo-boolean {
    width: 200px;
    text-align: right;
}

.tim-berners > img{
    height: 250px;
}